
HelloWorld/.idea/.name
HelloWorld/.idea/encodings.xml
HelloWorld/.idea/misc.xml
HelloWorld/.idea/modules.xml
HelloWorld/.idea/workspace.xml
*.iml
*.class
Operators/.idea/misc.xml
Operators/.idea/modules.xml
Operators/.idea/project-template.xml
Operators/.idea/vcs.xml
Operators/.idea/workspace.xml
Strings/.idea/description.html
Strings/.idea/encodings.xml
Strings/.idea/misc.xml
Strings/.idea/modules.xml
Strings/.idea/project-template.xml
Strings/.idea/workspace.xml
Operators/.idea/description.html
Operators/.idea/encodings.xml
